.boardRow {
  display: flex;
  flex-direction: row;
}

.status {
  font-weight: 900;
  font-size: 2.5em;
  font-style: oblique;
  color: #ef5503;
  padding: 1em 2em;
}

.winStatus {
  color: blueviolet;
  font-weight: 900;
  font-size: 3em;
  font-style: oblique;

  padding: 2rem;
}
