* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #c6f0f0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  text-align: center;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #aff6f6;
}

@media screen and (min-width: 768px) {
  body {
    margin-left: 10em;
    margin-right: 10em;
  }
}
@media screen and (max-width: 500px) {
  .mainContainer h1 {
    /* max-width: 30%; */
    line-height: 1em;
  }
  .mainContainer {
    padding-top: 0.5em;
  }
}
.mainContainer h1 {
  color: #279af1;
  font-size: 3em;
  font-style: italic;
  text-align: left;
}
.icon {
  height: 8em;
  width: 8em;
}
