.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameBoard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
  flex-wrap: wrap;
}

.moveButton {
  background-color: #3b64f9;
  padding: 1em;
  margin: 0.3em;
  color: #f49b71;
  font-weight: 800;
  width: 6em;
  border-radius: 40%;
}

.moveButton:hover {
  background-color: #0a3fd0;
  color: #ef5503;
  cursor: pointer;
}
