.square {
  background-color: #f1cfad;
  height: 4em;
  width: 4em;
  color: #2472f0;
  font-weight: 800;
  font-size: 3.5em;
}

@media screen and (max-width: 500px) {
  .square {
    height: 1em;
    width: 1em;
  }
}

.square:hover {
  background-color: #ffa500;
}
